html
{
    font-family: 'Della Respira', serif;
}
body
{
    background-color: white;
}

#navbar
{
    height: 100%;
    width: 45vh;
    background-color:rgb(219, 219, 219);
    border: 1px solid black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#navbar li 
{    
    list-style: none;    
    border-bottom: 1px solid black;
    padding: 2vh;
    margin-left: -40px;         
}
#navbar h2
{
    border-bottom: 1px solid black;
    padding: .1vh;
}

#main-doc
{
    margin-left: 47vh;
    margin-right: 2vh;
}
code{
    font-family: 'Della Respira', serif;
    display: block;
    margin-left: 5vh;
    margin-right: 5vh;    
    border: 1px solid black;       
    background-color: rgb(219, 219, 219);
}
.footer
{
    margin-left: 47vh;
    margin-right: 2vh;
    padding: 5vh;
    text-align: center;
    font-size: 1.5vh;
}

@media screen and (max-width: 800px)
{
#navbar
{
    width: 100%;
    height: auto;    
    background-color:rgb(219, 219, 219);    
    position: fixed;
    z-index: 1;
    top: 0;    
}
#navbar li 
{    
    list-style: none;
    padding: 2vh;
    margin-left: -40px;         
}
#main-doc
{
    margin-top: 47vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
#introduction
{
    scroll-margin: 40vh;
}
#python
{
    scroll-margin: 40vh;
}
#ruby
{
    scroll-margin: 40vh;
}
#c
{
    scroll-margin: 40vh;
}
#cplusplus
{
    scroll-margin: 40vh;
}
}
